# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [ ]:
numberFloat = 2.4
print(numberFloat)

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1=3
num2=4.2
result=num1+num2
print(result)
result+=2
print(result)

7.2
9.2

##### Subtraction

In [5]:
result_Diff=num2-num1
print(result_Diff)
result_Diff-=1
print(result_Diff)

1.2000000000000002
0.20000000000000018

##### Multiplication

In [7]:
resultMul=num1*num2
print(resultMul)
resultMul*=2
print(resultMul)

12.600000000000001
25.200000000000003

##### Division

##### Floor Division

In [8]:
resultFloor=num2//num1
print(resultFloor)

1.0

##### Modulo

In [10]:
resultMod=7%6
print(resultMod)

1

##### Exponential

In [50]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

8

### String Input-Output

##### String Assignment

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

##### Type Conversion

##### input()

In [16]:
age = int(input("What is your age?"))
print(age + 5)

What is your age?43
48

##### format()

In [24]:
name = input("What is your name")
age=input("What is your age?")
#resultString="You are {} {} and you kick ass".format(age, name)
#print(resultString)
resultTwo= f"{age} is great"
print(resultTwo)

What is your nameAlyssa
What is your age?43
43 is great

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [26]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What is the make of your car?")
print("Your car is a {} {} {} ".format(year, color, make))

What color is your car?silver
What year is your car?2020
What is the make of your car?Nissan
Your car is a 2020 silver Nissan

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

##### 'in' keyword

In [28]:
charName= "Frodo Baggins"
if "Frodo" in charName:
    print("The Ring Bearer")

The Ring Bearer

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [1]:
name = input("What is your name?")
if "p" in name:
    print("P alert")

What is your name?Alyssa

## Using 'and'/'or' with If Statements

### Elif Statements

In [3]:
name = input("What is your name?")
if "p" in name:
    print("P alert")
elif "p" not in name:
    print("The coast is clear")

What is your name?Alyssa
The coast is clear

### Else Statements

In [ ]:
name = input("What is your name?")
if "p" in name:
    print("P alert")
else:
    print("The coast is clear")

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration (and skip that thing dermont)

In [6]:
name="Alyssa Emily Masor"

for i in name:
    if i == 's':
        continue
    print(i)

A
l
y
a

E
m
i
l
y

M
a
o
r

##### Break Statement

In [ ]:
# will break out of current loop

In [8]:
for i in range(20):
    if i==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [9]:
for i in name:
    pass

##### Double For Loops

In [11]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j=", j)

i = 0 j= 0
i = 0 j= 1
i = 0 j= 2
i = 0 j= 3
i = 0 j= 4
i = 1 j= 0
i = 1 j= 1
i = 1 j= 2
i = 1 j= 3
i = 1 j= 4
i = 2 j= 0
i = 2 j= 1
i = 2 j= 2
i = 2 j= 3
i = 2 j= 4
i = 3 j= 0
i = 3 j= 1
i = 3 j= 2
i = 3 j= 3
i = 3 j= 4
i = 4 j= 0
i = 4 j= 1
i = 4 j= 2
i = 4 j= 3
i = 4 j= 4

### While Loops

In [3]:
num = 0
while num < 11:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [ ]:
#bad practice

##### While & For Loops Used Together

In [4]:
num=0
while num < 5:
    print("\nwhile loop iteration: " + str(num))
    for i in range(2):
        print("for loop iteration: " + str(i + 1))
    num+=1

while loop iteration: 0
for loop iteration: 1
for loop iteration: 2

while loop iteration: 1
for loop iteration: 1
for loop iteration: 2

while loop iteration: 2
for loop iteration: 1
for loop iteration: 2

while loop iteration: 3
for loop iteration: 1
for loop iteration: 2

while loop iteration: 4
for loop iteration: 1
for loop iteration: 2

### Built-In Functions

##### range()

In [5]:
#range(start, stop, step)
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [7]:
name = input("What is your name?")
length = len(name)
print(length)

What is your name?Alyssa Emily Masor
18

##### help()

##### isinstance()

In [12]:
#check a variable to figure out what object family or data type it belongs to
#isinstance(var,type)
num=4

if isinstance(num, int):
    print(f"{num} is an integer.")
else:
    print(f"{num} is a float!")

4 is an integer.

##### abs()

In [13]:
#gives you the absolute value
print(abs(-5))

5

### Try and Except

In [17]:
#use this to log out useful error messages
#doesn't stop the program
try:
    number_test=0
    input_number=int(input("Guess a number"))
    if input_number!=input_number+number_test:
        input_number=input_number+number_test
        print("You number is :" + str(input_number))
except:
    print("That number didn't work! Change your input to a number!")

Guess a numberapple
That number didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [27]:
name= ['Harry', 'Sally', 'Ed', 'Shireen', 'Flo', 'Peter']
print(name)
print(isinstance(name, list))

['Harry', 'Sally', 'Ed', 'Shireen', 'Flo', 'Peter']
True

##### Indexing a List

In [30]:
#list_name[start: stop: step]
print(name[1:])
print(name[:4])
print(name[::2])
print(name[1::2])
#print starting at the back and display in reverse order
print(name[::-1])

['Sally', 'Ed', 'Shireen', 'Flo', 'Peter']
['Harry', 'Sally', 'Ed', 'Shireen']
['Harry', 'Ed', 'Flo']
['Sally', 'Shireen', 'Peter']
['Peter', 'Flo', 'Shireen', 'Ed', 'Sally', 'Harry']

##### .append()

In [37]:
name.append('Alyssa')
print(name)

['Harry', 'Sally', 'Abe', 'Ed', 'Flo', 'Peter', 'Alyssa', 'Alyssa', 'Alyssa']

##### .insert()

In [36]:
#can add in a specific place
name.insert(2, "Abe")
print(name)

['Harry', 'Sally', 'Abe', 'Ed', 'Flo', 'Peter', 'Alyssa', 'Alyssa']

##### .pop()

In [33]:
#defaults to the last value if no parameter is given
#pop removes the element and saves it in case you want to assign it to a variable
my_husband = name.pop(2)
print(my_husband)
print(name)

Abe
['Harry', 'Sally', 'Ed', 'Shireen', 'Flo', 'Peter', 'Alyssa']


##### .remove()

In [39]:
#value to be removed rather than index
name.remove('Shireen')
print(name)
#remove multiple Alyssas from list
while 'Alyssa' in name:
    name.remove('Alyssa')
    print(name)

['Harry', 'Sally', 'Abe', 'Ed', 'Flo', 'Peter', 'Alyssa', 'Alyssa']
['Harry', 'Sally', 'Abe', 'Ed', 'Flo', 'Peter', 'Alyssa']
['Harry', 'Sally', 'Abe', 'Ed', 'Flo', 'Peter']

##### del()

In [42]:
#goes by index rather than value
#Be careful, can cause indexing errors
del(name[1])
print(name)

['Harry', 'Abe', 'Ed', 'Flo', 'Peter']

##### Concatenating Two Lists

In [45]:
list_1 = [0, 1, 2]
list_2 = [3, 4, 5]
large_list = list_1 + list_2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [44]:
#Lists can hold other lists --> nested lists
names = ['Nesha', 'Chana', 'Pearl',['Chaim', 'Feivel', 'Shoshana']]
print(names[3][2])

Shoshana

##### Looping Through Lists

In [47]:
#Two ways to loop through a list, one is by index, and one is by using the 'in' keyword
#by index
for i in range(len(names)):
    print(names[i])
#btw, doesn't matter what i is called
#with 'in'
for name in names:
    print(name)

Nesha
Chana
Pearl
['Chaim', 'Feivel', 'Shoshana']
Nesha
Chana
Pearl
['Chaim', 'Feivel', 'Shoshana']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [59]:
num=1
while num**3 <= 1000:
    print(num **3)
    num+=1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [82]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
        
for num in range(1,100 + 1):
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)
            
#Why won't this work, though?

num=1
while num < 100:
    for (num % 2) == 0:
        print(num)
            break
    else:
        num+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [80]:
age = int(input('What is your age?'))
if age < 18:
    print('kids')
elif age <= 65:
    print('adults')
else: 
    print('seniors')

What is your age?3
kids